.abonnementCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, 100%);
  gap: 1rem;
  padding-inline: 15px;
  border-radius: 10px;
}
