.abonnementCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px var(--shadow) solid;
  border-radius: 10px;
  box-shadow: -1px 1px 6px 0 var(--shadow);
  cursor: pointer;
  text-align: center;
  line-height: 1.5;
}
.abonnementCardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.abonnementCardContainer:hover .textHover {
  opacity: 1;
}
.abonnementCardInfo {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.abonnementCardInfo h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(0.9rem, 1vw, 1.2rem);
  margin-bottom: 0;
  color: var(--accent);
  border-bottom: 1px var(--text-secondary) solid;
}
.abonnementCardDesc {
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.abonnementCardPrice {
  border: 1px var(--text-secondary) solid;
  border-radius: 10px;
}
.abonnementBtn {
  margin-bottom: 10px;
  margin-inline: auto;
}
