.tableauAbonnement {
  display: grid;
  grid-template-columns: 120px 0.5fr 1fr 40px;
  grid-template-rows: 115px;
  margin-top: 15px;
  border: 1px solid var(--shadow);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -1px 1px 6px 0 var(--shadow);
}
.tableauAbonnementItem {
  border-right: 1px solid var(--shadow);
}
.tableauAbonnementItemHeader {
  padding: 10px;
  border-bottom: 1px solid var(--shadow);
}
.tableauAbonnementItem.infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tableauAbonnementItem h3 {
  text-transform: capitalize;
  font-size: clamp(0.8rem, 2vw, 1rem);
}
.tableauAbonnementItem.img {
  overflow: hidden;
}
.tableauAbonnementItem.img img {
  display: block;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.tableauAbonnementItem.infos p {
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: clamp(0.8rem, 2vw, 1rem);
}
.tableauAbonnementItem.desc p {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 5px;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.tableauAbonnementItem.btns {
  border-right: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.tableauAbonnementIcone {
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}
.tableauAbonnementIcone svg {
  width: 26px;
  cursor: pointer;
}

.tableauAbonnementIcone:hover {
  opacity: 1;
}
.tableauAbonnementIcone .delete {
  fill: var(--red);
}
@media screen and (max-width: 900px) {
  .tableauAbonnement {
    grid-template-columns: 1fr;
  }
  .tableauAbonnementItem {
    border-right: none;
    border-top: 1px solid var(--shadow);
  }
  .tableauAbonnementItem.img {
    border-top: none;
  }
  .tableauAbonnementItem.img img {
    width: 100%;
  }
  .tableauAbonnementItem.desc p {
    margin: 5px;
  }

  .tableauAbonnementItemHeader {
    border-bottom: none;
    padding: 5px;
  }
  .tableauAbonnementItem.btns {
    flex-direction: row;
    padding: 5px;
  }
  .tableauAbonnementIcone svg {
    width: 20px;
    height: 20px;
  }
}
