.boutiqueContainer {
  position: relative;
}

.boutiquePanierBtn {
  position: fixed;
  top: 75px;
  right: 10px;
  z-index: 6;
  border-radius: 50%;
  box-shadow: 0 0 3px 2px var(--shadow);
  background: var(--background);
  padding: 4px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.boutiquePanierBtnNumero {
  position: absolute;
  left: 25px;
  top: 10px;
  transform: translate(-50%, -50%);
  background: var(--red);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.boutiqueContainer h2 {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: 600;
  color: var(--text-secondary);
  border-bottom: 1px var(--text-secondary) solid;
}

.boutiqueComponents {
  transition: margin-right 250ms ease-in-out;
  z-index: 1;
}

.boutiqueComponents.panierIsOpen {
  margin-right: 270px;
}

.boutiqueCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, 100%);
  gap: 1rem;
  padding-block: 60px 30px;
  padding-inline: 15px;
  border-radius: 10px;
}

.boutiquePanier {
  position: fixed;
  top: 57px;
  right: 0;
  width: 60px;
  height: 100%;
  line-height: 2;
  transition: width 250ms ease-in-out;
  overflow: hidden;
  z-index: 5;
}
.boutiquePanier.isOpen {
  width: 270px;
}

@media screen and (max-width: 768px) {
  .boutiquePanier {
    background: transparent;
  }

  .boutiqueComponents.panierIsOpen {
    margin-right: 0;
  }
}
