.boutiqueItemContainer {
  padding: 30px 15px;
  transition: margin-right 250ms ease-in-out;
  max-width: 900px;
  margin-inline: auto;
}

.boutiqueItemButton {
  max-width: 40px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.boutiqueItemTitle {
  font-size: clamp(1.5rem, 4vw, 2rem);
  text-transform: capitalize;
}

.boutiqueItemInfos {
  margin-block: 20px;
}

.boutiqueItemTag {
  font-size: clamp(0.7rem, 2vw, 1rem);
  border-radius: 10px;
  background: var(--shadow);
  max-width: fit-content;
  padding: 5px 10px;
  margin-block: 20px;
}

.boutiqueItemDescription p {
  font-size: clamp(0.8rem, 3vw, 1rem);
  margin-block: 1rem;
}

.boutiqueItemCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .boutiqueItemButton {
    width: 26px;
  }
}
