.panierItems {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  padding: 40px 10px;
  transform: translateX(260px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--background) 1%);
}
.panierItems .globalButton {
  margin-inline: auto;
}
.panierItems .form {
  gap: 0;
}
.panierItems.isOpen {
  transform: translateX(0);
  border-left: 1px var(--shadow) solid;
  box-shadow: -1px 1px 9px 0px var(--shadow);
  overflow: auto;
}

.containerImgIdentifiant {
  position: relative;

  overflow: hidden;
  border-radius: 5px;
}

#panier {
  background: var(--background);
}

table {
  border-collapse: collapse;
  width: 100%;
}
caption {
  font-weight: 700;
}

th,
td {
  font-size: 14px;
  border: 1px solid var(--shadow);
  padding: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 145px;
}
.panierIcone {
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  justify-content: center;
}

.panierIcone svg {
  width: 26px;
  cursor: pointer;
}

.panierIcone:hover {
  opacity: 1;
}

.panierIcone .delete {
  fill: var(--red);
}

.form {
  display: flex;
  flex-direction: column;
}
.panierItems .errorSmall {
  line-height: 1.5;
}
.form .globalButton {
  margin-top: 10px;
}

.containerbtn .link {
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  margin-inline: auto;
}
