/* .annoncesAdminWrapper {
} */
.addAnnonceBtn {
  flex: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 6px;
  background: inherit;
  border: 1px solid var(--text-secondary);
  box-shadow: -1px 1px 8px 0px var(--shadow);
  transition: box-shadow 0.2s ease-out;
  cursor: pointer;
}

.addAnnonceBtn:hover {
  box-shadow: -1px 1px 8px 6px var(--shadow);
}

.addAnnonceBtn svg {
  fill: var(--green);
}

@media screen and (max-width: 768px) {
  .annoncesAdminHeader h2 {
    text-align: left;
  }
  .addAnnonceBtn {
    width: 35px;
    height: 35px;
  }
}
