.galerieAdminInfos {
  max-width: 900px;
  margin-inline: auto;
}

.galerieAdminMessage {
  margin-block: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: clamp(0.5rem, 2vw, 1rem);
}
.galerieAdminMessage svg {
  flex: none;
  width: 2rem;
  height: 2rem;
}

.galerieAdminFiltres {
  margin-block: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.galerieAdminFiltres h3 {
  min-width: fit-content;
}
.galerieAdminContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-auto-rows: minmax(140px, 100%);
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--text-secondary);
  border-radius: 10px;
  box-shadow: -1px 1px 6px 0 var(--shadow);
  max-width: 900px;
  margin: 0 auto;
}
