.btnLike {
  height: 25px;
  background: none;
  color: var(--text-primary);
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.btnLike svg {
  width: 26px;
}
@media screen and (max-width: 768px) {
  .btnLike {
    height: 20px;
  }

  .btnLike svg {
    width: 20px;
  }
}
