.erreur {
  padding-top: 60px;
  text-align: center;
  line-height: 3;
}

.erreur img {
  max-width: 400px;
}

.erreur h1 {
  font-size: clamp(1rem, 3vw, 2rem);
}
.erreur p {
  font-size: clamp(0.8rem, 3vw, 1.1rem);
}
.erreur .link {
  text-decoration: underline;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
}
