.tableauDeBordWrapper {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.tableauDeBordAside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 120px;
  /* padding-inline: 15px; */
  width: 200px;
  background: var(--background);
  border-right: 2px solid var(--shadow);
  transition: width 250ms ease-in-out;
  overflow: hidden;
  overflow-y: auto;
}
.tableauDeBordAside.tableauDeBordAsideSmall {
  width: 60px;
}
.tableauDeBordCategorie {
  padding-block: 5px;
  padding-inline: 5px;
  visibility: visible;
}

.tableauDeBordAsideSmall .tableauDeBordCategorie {
  visibility: hidden;
}

.tableauDeBordLinks {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-block: 15px 10px;
  padding-inline: 15px;
}
.tableauDeBordLinksScroll {
  margin-block: 15px 100px;
}
.tableauDeBordSeparateur {
  display: block;
  height: 1px;
  width: 100%;
  background: var(--shadow);
}
.tableauDeBordIcone svg {
  width: 30px;
  height: 30px;
}

.tableauDeBordAsideHeader {
  position: relative;
  margin-bottom: 40px;
}

.tableauDeBordAsideBtn {
  position: absolute;
  right: 0;
  cursor: pointer;
  padding-inline: 15px;
  transition: transform 250ms ease-in-out;
}
.tableauDeBordAsideBtn.tableauDeBordAsideBtnReverse {
  transform: rotate(180deg);
}

.tableauDeBordAside a {
  display: flex;
  gap: 15px;
  text-decoration: none;
  color: inherit;
  align-items: center;
  flex-wrap: nowrap;
}
.tableauDeBordAside a:hover {
  color: var(--accent);
}

.tableauDeBordAside span {
  text-transform: capitalize;
  font-weight: 700;
}

.tableauDeBordBody {
  overflow-y: auto;
  padding: 30px 15px;
  margin-left: 200px;
  transition: margin-left 250ms ease-in-out;
  width: 100%;
}

.tableauDeBordBody.tableauDeBordBodySmall {
  margin-left: 60px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .tableauDeBordAside {
    width: 125px;
  }
  .tableauDeBordLinks {
    padding-inline: 8px;
  }
  .tableauDeBordAsideBtn {
    padding-inline: 8px;
  }
  .tableauDeBordAside.tableauDeBordAsideSmall {
    width: 40px;
  }
  .tableauDeBordIcone svg {
    width: 20px;
    height: 20px;
  }
  .tableauDeBordAside a {
    gap: 10px;
  }
  .tableauDeBordAside a span {
    font-size: 14px;
  }
  .tableauDeBordBody {
    margin-left: 125px;
  }
  .tableauDeBordBody.tableauDeBordBodySmall {
    margin-left: 40px;
  }
}
