.profil-img {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--text-secondary);
  box-shadow: -1px 1px 9px 0px var(--shadow);
}
.profil-img img {
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .profil-img {
    width: 35px;
    height: 35px;
  }
}
