.globalButton {
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  background: var(--text-secondary);
  transition: 350ms;
  cursor: pointer;
  color: var(--text-primary);
  text-transform: capitalize;
  font-size: clamp(0.7rem, 3vw, 1rem);
  font-weight: 500;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  height: 40px;
  max-width: fit-content;
}
.globalButton:hover {
  opacity: 1;
}

.globalButton.red {
  background: var(--red);
}
.globalButton.green {
  background: var(--green);
}
.globalButton:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.globalButton:disabled:hover {
  opacity: 0.4;
}
@media screen and (max-width: 768px) {
  .globalButton {
    padding: 5px 10px;
  }
}
