.loading {
  background: "#f0f0f0";
  width: 100px;
  height: 100px;
}

.imagePreview {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}

.imagePreview:hover {
  box-shadow: 0 0 0 3px var(--green);
}
.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.imageContainer img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.5) 100%);
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.imagePreview:hover .imageInfo {
  background: rgba(0, 0, 0, 0.5);
}

.imageInfo h3 {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

.imageInfo span {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  text-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

.deleteBtn {
  position: absolute;
  inset: 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 0 0 0 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.imagePreview:hover .deleteBtn {
  opacity: 1;
}

.deleteBtn svg {
  width: 25px;
  height: 25px;
  fill: var(--red);
  opacity: 1;
}
