.top-to-btm {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 12;
  opacity: 0.8;
}

.icon-position {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.icon-style {
  stroke-width: 1;
  background-color: var(--background);
  border-radius: 50%;
  box-shadow: 0 0 3px 2px var(--shadow);
}
@media screen and (max-width: 1000px) {
  .top-to-btm {
    bottom: 5px;
    left: 5px;
  }

  .icon-position {
    width: 35px;
    height: 35px;
  }
}
