/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;1,100;1,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@400;500;600;700&display=swap");
* {
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Anuphan", sans-serif; */
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-smooth: always;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-weight: 600;
}

img {
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --background: rgb(193, 225, 231);
  --text-primary: black;
  --text-secondary: #0d7f90;
  --color-form: #4aadbc29;
  --color-main: #cbdadc;
  --accent: #0d7f90;
  --shadow: #0d7f90e3;
  --red: rgb(179, 3, 3);
  --green: rgb(5, 142, 34);
}
[data-theme="dark"] {
  --background: #080c1d;
  --text-primary: rgb(224, 219, 219);
  --color-form: rgba(255, 255, 255, 0.034);
  --color-main: #080c1d;
  --accent: #04deff;
}
a {
  color: inherit;
  transition: color 0.4s;
  text-decoration: none;
}
a:hover {
  color: var(--accent);
}
.App {
  color: var(--text-primary);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  flex: 1 1;
}
.main {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  background: var(--color-main);
}

/* Custom message React Toastify */
.toastify {
  margin-top: 80px;
}
.toastMessage {
  background: var(--color-main) !important;
  box-shadow: -1px 1px 9px 0px var(--shadow) !important;
  color: var(--text-primary) !important;
  font-weight: 500 !important;
  text-transform: capitalize !important;
}
.Toastify__close-button {
  color: var(--text-primary) !important;
}

@media screen and (max-width: 768px) {
  .main {
    margin-top: 60px;
  }
}
