@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-smooth: always;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul,
ol {
  margin-block: 0.5em;
  padding-inline-start: 20px;
}

h2 {
  font-weight: 600;
}

img {
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --background: rgb(193, 225, 231);
  --text-primary: black;
  --text-secondary: #0d7f90e3;
  --color-form: #4aadbc29;
  --color-main: #cbdadc;
  --accent: #0d494e;
  --shadow: #0d7f90e3;
  --btn: #04a1f8;
  --red: rgb(179, 3, 3);
  --green: rgb(5, 142, 34);
}
[data-theme="dark"] {
  --background: #080c1d;
  --text-primary: rgb(224, 219, 219);
  --color-form: rgba(255, 255, 255, 0.034);
  --color-main: #080c1d;
  --accent: #04deff;
  --btn: #0d7f90e3;
  --text-secondary: #04deff;
}
a {
  color: inherit;
  transition: color 0.4s;
  text-decoration: none;
}
a:hover {
  color: var(--accent);
}
.App {
  color: var(--text-primary);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  flex: 1 1;
}
.main {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  /*background: var(--color-main);*/
}

/* Custom message React Toastify */
.toastify {
  margin-top: 130px;
}
.toastMessage {
  background: var(--background) !important;
  box-shadow: -1px 1px 9px 0px var(--shadow) !important;
  color: var(--text-primary) !important;
  font-weight: 500 !important;
  text-transform: capitalize !important;
  border-radius: 10px !important;
}
.Toastify__close-button {
  color: var(--text-primary) !important;
}
@media screen and (max-width: 768px) {
  .toastMessage {
    margin-inline: 20px !important;
  }
}

/*Style Formulaire*/
.containerForm {
  width: 100%;
  padding: 20px;
  border: 2px solid var(--shadow);
  box-shadow: -1px 1px 9px 0px var(--shadow);
  border-radius: 15px;
  background: var(--color-form);
  margin-block: 15px;
}
.containerForm h2 {
  text-align: center;
  width: 100%;
  line-height: 2;
  color: var(--text-primary);
  font-size: clamp(0.8rem, 3vw, 1.2rem);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form .globalButton {
  margin-inline: auto;
}

.form label {
  color: var(--text-primary);
  font-size: clamp(0.8rem, 3vw, 1rem);
  line-height: 1.3;
  font-weight: 500;
  margin-left: 5px;
}
input {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  border: 2px solid var(--shadow);
  box-shadow: -1px 1px 4px 0px var(--shadow);
}

input::placeholder {
  font-size: clamp(0.7rem, 2vw, 0.9rem);
}

.dropzone {
  background: white;
  border-radius: 10px;
  border: 2px solid var(--shadow);
  min-height: 80px;
  cursor: pointer;
  padding: 10px;
}

.dropzone p {
  font-size: clamp(0.8rem, 3vw, 1.2rem);
  line-height: 1.3;
  font-weight: 500;
  margin-left: 5px;
}

.zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-style: dashed;
  border-color: var(--shadow);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  min-height: 80px;
  padding: 5px;
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.zone.zone-error {
  border-color: var(--red);
}

.errorSmall {
  color: var(--red);
  font-size: 0.8rem;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .form {
    padding: 20px 10px 20px;
    gap: 10px;
  }
  .containerForm {
    padding: 5px;
  }
}
