.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin-inline: auto;
}

.presentationTitre {
  text-align: center;
  font-size: 30px;
  margin-block: 15px;
}
.presentationDescription {
  line-height: 2.5;
  margin-block: 10px;
  text-align: center;
}
.presentationDescription h2 {
  font-size: 1.5rem;
}
