.tableauAnnonce {
  display: grid;
  grid-template-columns: 100px 0.5fr 1fr 40px;
  grid-template-rows: 100px;
  margin-top: 15px;
  border: 1px solid var(--text-secondary);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -1px 1px 6px 0 var(--shadow);
}

.tableauAnnonceItem {
  border-right: 1px solid var(--text-secondary);
}

.tableauAnnonceItemHeader {
  padding: 5px;
  border-bottom: 1px solid var(--text-secondary);
}

.tableauAnnonceItem h3 {
  text-transform: uppercase;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.tableauAnnonceItem.img {
  overflow: hidden;
}

.tableauAnnonceItem.img img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.tableauAnnonceItem.title p {
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.tableauAnnonceItem.desc p {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 5px;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.tableauAnnonceItem.btns {
  border-right: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.tableauAnnonceicone {
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

.tableauAnnonceicone svg {
  width: 26px;
  cursor: pointer;
}

.tableauAnnonceicone:hover {
  opacity: 1;
}

.tableauAnnonceicone .delete {
  fill: var(--red);
}
@media screen and (max-width: 768px) {
  .tableauAnnonce {
    grid-template-columns: 1fr;
  }
  .tableauAnnonceItem {
    border-right: none;
    border-top: 1px solid var(--text-secondary);
  }

  .tableauAnnonceItem.img {
    border-top: none;
  }
  .tableauAnnonceItem.img img {
    width: 100%;
  }
  .tableauAnnonceItem.title,
  .tableauAnnonceItem.desc {
    padding: 5px;
  }
  .tableauAnnonceItemHeader {
    border-bottom: none;
  }

  .tableauAnnonceItem.btns {
    flex-direction: row;
    padding: 5px;
  }

  .tableauAnnonceicone svg {
    width: 20px;
    height: 20px;
  }
}
