.tableauBoutique {
  display: grid;
  grid-template-columns: 120px 0.5fr 1fr 40px;
  grid-template-rows: 120px;
  margin-top: 15px;
  border: 1px solid var(--text-secondary);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -1px 1px 6px 0 var(--shadow);
}

.tableauBoutiqueItem {
  border-right: 1px solid var(--text-secondary);
}

.tableauBoutiqueItemHeader {
  padding: 10px;
  border-bottom: 1px solid var(--text-secondary);
}

.tableauBoutiqueItemHeader.infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tableauBoutiqueItem h3 {
  text-transform: uppercase;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.tableauBoutiqueItem.img {
  overflow: hidden;
}

.tableauBoutiqueItem.img img {
  display: block;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.tableauBoutiqueItemHeader.infos p {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.tableauBoutiqueItem.desc p {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 5px;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.tableauBoutiqueItem.btns {
  border-right: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.tableauBoutiqueIcone {
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

.tableauBoutiqueIcone svg {
  width: 26px;
  cursor: pointer;
}

.tableauBoutiqueIcone:hover {
  opacity: 1;
}

.tableauBoutiqueIcone .delete {
  fill: var(--red);
}
@media screen and (max-width: 991px) {
  .tableauBoutique {
    grid-template-columns: 1fr;
  }
  .tableauBoutiqueItem {
    border-right: none;
    border-top: 1px solid var(--text-secondary);
  }

  .tableauBoutiqueItem.img {
    border-top: none;
  }
  .tableauBoutiqueItem.img img {
    width: 100%;
  }
  .tableauBoutiqueItem.name,
  .tableauBoutiqueItem.desc {
    padding: 5px;
  }
  .tableauBoutiqueItemHeader {
    border-bottom: none;
  }

  .tableauBoutiqueItem.btns {
    flex-direction: row;
    padding: 5px;
  }

  .tableauBoutiqueIcone svg {
    width: 20px;
    height: 20px;
  }
}
