.article {
  border: 1px solid var(--text-secondary);
  border-radius: 5px;
  padding: 10px;
  margin-block: 20px;
  box-shadow: -1px 1px 9px 0px var(--shadow);
  max-width: 900px;
  width: 100%;
}
.articleTitre {
  text-align: center;
  border-bottom: 2px solid var(--text-secondary);
  font-size: clamp(1rem, 1vw, 1.5rem);
  padding-block: 15px;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.articleImg {
  border-radius: 15px;
  max-height: 500px;
  height: 100%;
  object-fit: cover;
}

.articleParagraphe {
  text-align: justify;
  padding: 10px;
  line-height: 1.5;
}
.articleFooter {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--text-secondary);
  padding-top: 15px;
}
.articleLike {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 1;
  max-width: 100px;
}

.articleAuteur {
  display: flex;
  align-items: center;
  gap: 10px;
}
.articleAuteur p {
  font-size: clamp(0.5rem, 1vw, 1rem);
}
.articleDate {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: right;
}

.articleDate p {
  font-size: clamp(0.5rem, 1vw, 1rem);
}
@media screen and (max-width: 768px) {
  .articleAuteur {
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    gap: 5px;
  }
  .articleLike {
    flex-direction: column;
    gap: 5px;
  }
}
