.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  max-height: 270px;
  margin: 10px;
  border: 2px solid #0d7f90;
}
.banner img {
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .banner {
    border-radius: 10px;
  }
}
