.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  max-height: 270px;
  border: 2px solid var(--text-secondary);
}
.banner img {
  display: block;
  object-fit: cover;
  object-position: 0px 76px;
}

@media screen and (max-width: 768px) {
  .banner {
    border-radius: 10px;
  }
  .banner img {
    object-position: 0px 0px;
  }
}
