.boutiqueContainer {
  padding: 45px 15px;
}

.boutiqueContainer h2 {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: 600;
  margin-left: 5px;
}

.itemsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, 100%);
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  max-width: 1280px;
  margin: auto;
}
