.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #0d7f90;
}
.logo-pandora {
  max-width: 100px;
  max-height: 100px;
}

.header nav {
  display: flex;
  gap: 25px;
  font-weight: 700;
  padding-inline: 20px;
  align-items: center;
}
.link {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}
.link:hover,
.link-active {
  text-decoration: underline;
  color: var(--accent);
}
