.rejoindre {
  display: flex;
  flex-direction: column;
  margin-block: 20px;
}
.rejoindreTitre {
  text-align: center;
}
.rejoindreTexte {
  line-height: 2;
}
.IconBar a {
  width: 60px;
  height: 60px;
  padding: 10px;
}
